page-presence {
  .fixed-content{
    background: #ECECF0;
  }
  ion-icon{
    color: #D30000;
  }
  .segment-ios .segment-button.segment-activated {
    color: rgb(255, 255, 255);
    background-color: #1d1d1d;
  }
  .segment-ios .segment-button {
    color: #1d1d1d ;
    border-color: #1d1d1d;
  }
  .segment-md .segment-button {
    color: #1d1d1d;
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #1d1d1d;
    opacity: 1;
  }
}
